



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(blue, white);
    background-repeat: no-repeat;
    background-image: url('hi.jpg');
    background-size: cover ;

}

.homeBox {
    background-color: #000;
    color: #000000;
    opacity: .7;
    padding: 40px;
    border-radius: 10px;
    margin: 60px;
    background: white;
    
}

a {
    font-size: 25px;
    display:inline-block ;
    
}

#Home-Heading {
    text-align: center;
    color: black;
    font-size: 30px;
    background: black;
    opacity: .7
}

#nav {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: black;
    font-size: 30px;
    background-color: black;
    opacity: .7;
}